<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Employees</title>

    <link rel="stylesheet"
          href="/static/css/style.css">

</head>

<body>

<div class="container">

    <div class="header">

        <h1>Employees</h1>

        <p>Employee Master Data</p>

    </div>


    <div class="table-card">

        <table>

            <thead>

                <tr>

                    <th>Employee ID</th>
                    <th>Employee Name</th>
                    <th>Department</th>
                    <th>Status</th>

                </tr>

            </thead>

            <tbody>

                {% for employee in employees %}

                <tr>

                    <td>
                        {{ employee.EmployeeId }}
                    </td>

                    <td>
                        {{ employee.EmployeeName }}
                    </td>

                    <td>
                        {{ employee.Department or '-' }}
                    </td>

                    <td>
                        Active
                    </td>

                </tr>

                {% endfor %}

            </tbody>

        </table>

    </div>

    <br>

    <a class="back-button" href="/">
        ← Back to Dashboard
    </a>

</div>

</body>

</html>